/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******start******/
*{
    box-sizing: border-box;
}

*:active{
    text-decoration: none;
}

body{
    /* height: 100%; */
    position: relative;
    overflow: hidden;
}


.below{
    width: 100vw;
    position: fixed;
    height: 10%;
    bottom: 0%;
    left: 0%;
    z-index: 9999;
}

footer ul{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

footer ul li{
    width: 20vw;
    height: 100%;
    transition: background-color .3s ease, color .3s ease;
}

.actived{
    background-color: rgb(145, 93, 93);
    color: white;
}

.actived-word{
    color: white !important;
}

.wrap{
    width: 100%;
    height: 80vh;
    position: relative;
}

.wrap>div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}

#headPaste-outter{
    height: 20vh;
}

#headPaste{
    height: 100%;
    width: 100%;
}

#bar-outter{
    height: 8.5vh;
}

#profile_name{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_name.png);
}

#profile_gender{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_gender.png);
}

#profile_birth{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_birth.png);
}

#profile_phone{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_phone.png);
}

#profile_email{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_email.png);
}

#profile_map{
    height: 100%;
    width: 100%;
    background-image: url(../public/img/profile_map.png);
}

.profile_bar{
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
}

.info
{
  position: absolute;
  top: 30%;
  left: 48%;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  background:#fff;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.info_map
{
  position: absolute;
  top: 48%;
  left: 7%;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  background:#fff;
  color: #000;
  text-align: left;
  text-decoration: none;
}

.profile_word
{
    font-size: 1.3rem;
    text-align:left;
    line-height: 9px;
    font-family:monospace;
    opacity:0.85;
}

.bg-setting{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrap>div.activePage{
    z-index: 1;
}

#back{
    display: inline;
    font-size: 1rem;
}

#back:active{
    text-decoration: none;
}

.animate{
    opacity:1;
    transform: translateY(20px);
    transition: all .3s;
}

.fadeIn{
    opacity:1;
    transform: translateY(0px);
}
.help-block {
    color: red;
  }
  
  .form-group.has-error.has-danger .form-control-label {
    color: red;
  }
  
.form-group.has-error.has-danger .form-control {
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}
.tab-pane.active {
    animation: slide-down 0.5s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
}
.card-top{
    margin-bottom: 50px;
}
.card-last{
    margin-bottom: 100px;
}
.colorgraph{
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
canvas {
    width: 100% !important;
    height: auto !important;
    max-height: 600px;
    pointer-events: none;
  }

/* #back>p{
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

#back:after, #back:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 10px solid transparent;
    border-left-color:  rgba(192, 121, 121, 0.5);
}
#back:after{
    margin-left: 5px;
    border-left-color: white;
} */