/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/******start******/

*{
    box-sizing: border-box;
}

body{
    /* height: 100%; */
    position: relative;
}

.below{
    width: 100vw;
    position: fixed;
    height: 10%;
    bottom: 0%;
    left: 0%;
    z-index: 900;
}

footer ul{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

footer ul li{
    width: 20vw;
    height: 100%;
}

footer ul li:active{
    background-color: rgba(0, 0, 0, 0.2);
    color: aliceblue;
}

body > i{
    position: fixed;
    bottom: 3.5%;
    right: 6%;
    z-index: 910;
}

footer ul li:last-child h3{
    margin-top: 50%;
}

.themeBar{
    margin-bottom: -1px;
    padding:0% 50%;
    width: 200vw;
    height: 50px;
    background-color: rgb(145, 93, 93);
}

.themeBar a:active{
    
    border-radius: 5px 5px 0px 0px;
    background-color: aliceblue;
    color: black;
}

.themeBar a{
    padding: 0px 20px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(145, 93, 93);
    color: black;
}

.top{
    position: fixed;
    z-index: 1;
    right: 0px;
    bottom: 12%;
    background-color: rgb(145, 93, 93);
    box-shadow: 2px 2px 3px gray;
}
.top a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
}


#wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#profile{
    width: 100%;
    height: 100%;
    background-color: #565;
}

#tuanGoer.tuanGoeranimate{
    animation-name: tuanGo;
    animation-duration: 1s;
}
@keyframes tuanGo{
    15%{
        bottom: 5% ;
        right: 6% ;
    }
    30%{
        bottom: 3.5% ;
        right: 6%;
    }
    50%{
        right: 8% ;
    }
    100%{
        right: -10% ;
    }
}

.active{
    color: rgb(145, 93, 93) !important;
}

#loginPrompt{
    transition: all 1s linear;
}


.animate{
    opacity:0;
    transform: translateY(20px);
    transition: all .1s ease;
}

.fadeIn{
    opacity:1;
    transform: translateY(0px);
}

#TuanGOerJoinPage{
    position: fixed;
    left: 0;
    top: 0;
    height: 0px;
    width: 100vw;
    transition: height .5s ease;
    z-index: -5;
    background-color: white;
}

#TuanGOerJoinPage.show{
    height: 100vh;
    z-index: 1020;
}

#JoinPageTopNav{
    height: 10vh;
    transform: translateY(-10vh);
    transition: all .3s linear;
}

#JoinPageTopNav.show{
    transform: translateY(0vh);
}

#TuanGOerJoinPageWrap{
    height: 0vh;
    overflow: scroll;
    opacity: 0;
    transform: translateY(-10vh);
    transition: opacity .3s linear, transform .3s linear;
}

#TuanGOerJoinPageWrap.show{
    height: 80vh;
    transform: translateY(0vh);
    opacity: 1;
}


#TuanGOerJoinPageWrap>#topPhoto{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
#TuanGOerJoinPageWrap>#name, #TuanGOerJoinPageWrap>#TuanGOType{
    height: 10vh;
    width: 100%;
    padding: 0 10%;
    font-size: 1rem;
    text-align: center;
    line-height: 10vh;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#TuanGOerJoinPageWrap>#TuanGOType{
    font-size: 2rem;
    color: rgba(192, 121, 121, 0.5);
    text-shadow: 1px 1px rgb(145, 93, 93);
}

#footerInJoin{
    position: fixed;
    left: 0;
    top: 90vh;
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
    transform: translateY(10vh);
    text-align: center;
    font-size: 1.5rem;
    transition: all .3s linear;
    background-color: rgba(192, 121, 121, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% auto;
}
#footerInJoin.show{
    transform: translateY(0vh);
}
/* 
#modalsignin{
    z-index: 1030;
} */